.wrapper_paypal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.wrapper_paypal > .box_paypal{
    width: 100%;
    height: auto;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-position: center -05px;
    background-size: 60%;
    background-repeat: no-repeat;
}

.wrapper_paypal > .box_paypal > .title_paypal{
    width: 100%;
    color: red;
    font-size: 25px;
    font-weight: bold;
    line-height: 3.5;
    text-align: center;
    text-transform: uppercase;
}

.wrapper_paypal > .box_paypal > .price_paypal{
    width: 100%;
    color: #FF5722;
    font-size: 45px;
    font-weight: bold;
    line-height: 0.7;
    text-align: center;
}